#oper{
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button{
    width: 70px;
    margin-left: 10px;

}

span{
    font-size: 20px;
    margin-left: 100px;
    
}

.active{
    background-color: red;
}

#btnLimpar{
    margin-left: 0px;
}


