<header>
    <h1>[M1S08] Ex 1 - Inicie um projeto angular e crie uma tela de login personalizando com CSS/SCSS</h1>
</header>
<main>
    <form [formGroup]="_form" (ngSubmit)="submit()">
        <h1>Raiche Filmes</h1>
        <div id="divUsuario">
            <span>Usuário:</span><input type="text" placeholder="Digite usuário" formControlName="usuario">
        </div>
        <div id="divSenha">
            <span>Senha:</span><input type="password" placeholder="Digite senha" formControlName="senha">
        </div>
        <div class="buttons">
            <button routerLink="/full/avaliacao" type="submit">Login</button>
            <button id="esqueciSenha" routerLink="/home/esquecisenha">Esqueci senha</button>
        </div>
    </form>

</main>
<footer></footer>