<h1>[M1S08] Ex 10 - Adicione botões de anterior/próximo para navegação entre o top 3 filmes populares</h1>
<section id="filmes">
    <div class="divTitle">
        <span class="title">{{result.original_title}}</span>
    </div>
    <div class="divOverview">
        <span class="legend">Overview:</span>
        <span class="content">{{result.overview}}</span>
    </div>
    <div class="divVote_average">
        <span class="legend">Vote Average: </span>
        <span class="content">{{result.vote_average}}</span>
    </div>
    <div class="divVote_count">
        <span class="legend">Vote Count: </span>
        <span class="content">{{result.vote_count}}</span>
    </div>
    <div class="divPoster">
        <img class='poster' src="{{imgFilme}}" alt="">
    </div>
    <div id="nav">
        <button (click)="acaoRetrocede()">Anterior</button>
        <button (click)="acaoAvanca()">Próximo</button>
    </div>
</section>